@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --background: #000000;
  --foreground: #ffffff;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradient 5s ease infinite;
}