@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --background: #000000;
  --foreground: #ffffff;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradient 5s ease infinite;
}

@keyframes scan {
  0% { transform: translateY(0); opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { transform: translateY(200px); opacity: 0; }
}

.animate-scan {
  animation: scan 4s linear infinite;
}